#game {

}

/*  player-block  */
.player-block {
    overflow:hidden;
    background: #dcd3bd;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 6px;
}

.player-block.is_you > .player-name {
    color: #a9580f;
}

.player-block > .hand-card {
    margin-top:10px;
}

.player-block > .hand-card > li{
    padding:0;
    list-style: none;
    width:40px;
    height:60px;
    margin-right:10px;
    float:left;
    border:1px solid #2c3e50;
    overflow: hidden;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.player-block > .hand-card > li.white-color {
    background-color: #cdcdcd;
}
.player-block > .hand-card > li.blue-color {
    background-color: #4f82c3;
}
.player-block > .hand-card > li.yellow-color {
    background-color: #c3c30d;
}
.player-block > .hand-card > li.red-color {
    background-color: #c33b00;
}
.player-block > .hand-card > li.green-color {
    background-color: #3ac34b;
}

.player-block > .hand-card > li > span {
    position: absolute;
    font-size:32px;
    left:12px;
    top:10px;

}


/*  middle-block  */

.middle-block {
    overflow:hidden;
    background: #aadcd6;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 6px;
}


.middle-block > .library-block {
    height:60px;
    width:40px;
    background-color:#fefefe;
    float:left;
    margin-right:10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #2c3e50;
}

.middle-block > .box-block {
    float:left;
    margin-right:10px;
}


.middle-block > .discard-block {
    height:60px;
    width:40px;
    background-color:#fefefe;
    float:right;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid #2c3e50;
}

.middle-block > .table-block {
    height:60px;
    background-color:#fefefe;
    float:left;
    border:1px solid #2c3e50;
}